<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Recurrent Neural Networks (RNNs)

_Author: Riley Dallas (ATX)_

---


### Learning Objectives

- Learn how to train/test split for sequence data
- Use `TimeseriesGenerator` to prep our time series data for modeling
- Create a basic RNN model using `keras`

In [1]:
import pandas as pd

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, GRU
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.preprocessing.sequence import TimeseriesGenerator

import matplotlib.pyplot as plt

In [ ]:
# CNN if correlation like images. 

# RNN is for sequential, language , time series stock data , sound

# RNN has feedback 
# vanishing

## Load data: AAPL stock prices and SEC filings
---

There are two datasets that we'll merge together:
- Apple's historical stock prices (ticker: AAPL)
- Their SEC filings:
  - Annual earnings reports: 10-K
  - Quarterly earnings reports: 10-Q
  - Company news and updates: 8-K

Load both in the cells below.

In [4]:
# load prices

prices = pd.read_csv('./datasets/AAPL.csv')
prices.head()

         Date      Open      High       Low     Close  Adj Close     Volume
0  2005-04-25  5.212857  5.288571  5.158571  5.282857   3.522625  186615100
1  2005-04-26  5.254286  5.358572  5.160000  5.170000   3.447372  202626900
2  2005-04-27  5.127143  5.194286  5.072857  5.135714   3.424510  153472200
3  2005-04-28  5.184286  5.191429  5.034286  5.077143   3.385454  143776500
4  2005-04-29  5.164286  5.175714  5.031428  5.151429   3.434988  167907600

In [5]:
# load filings

filings = pd.read_csv('./datasets/filings.csv')
filings.head()

         Date  10-K  10-Q  8-K
0  1994-12-13   1.0   0.0  0.0
1  1995-12-19   1.0   0.0  0.0
2  1996-12-19   1.0   0.0  0.0
3  1997-12-05   1.0   0.0  0.0
4  1999-12-22   1.0   0.0  0.0

## `Date` columns
---

For both datasets, we need to:
1. Convert the `Date` column to be a `datetime` object
2. Since these are time series datasets, we need the indices to be the `Date` columns

In [7]:
# set prices Date to datetime

prices['Date'] = pd.to_datetime(prices['Date'])

In [8]:
# set prices index to Date column

prices.set_index('Date', inplace = True)

In [ ]:
# set filings Date to datetime

In [ ]:
# set filings index to Date column

## Data cleaning: Prices
---

For Apple's stock prices, we'll need to do a few things:
1. Drop the `Adj Close` column since we already have a `Close` price
2. De-trend the dataset using `.pct_change()`
3. Drop any `NaN`s that were created from step 2

In [9]:
# Drop Adj Close column

prices.drop(columns='Adj Close', inplace=True)

In [10]:
# Plot Close column
prices['Close'].plot

In [11]:
# Convert prices to be percent changes from prior row

prices = prices.pct_change()

In [ ]:
# Drop nulls

In [ ]:
# Plot Close column again

## Create `Target` column
---

Our column of interest is the `Close` prices. We could build a regression model, where we predict the actual percentage change, or we could set this up as a binary classification problem:
- 1: The `Close` price was greater than or equal to the previous day
- 0: The `Close` price was lower than the previous day

We'll go with the latter option. In the cell below, let's create our binary `Target` column.

In [ ]:
# Create Target column

## Merge Prices with SEC filings
---

SEC filings tend to have a huge impact on stock prices. Because of this, we'll want to merge the prices and filings `DataFrames` together.

<details><summary>What kind of join should we use here?</summary>

We'll want to do a left join, so that we don't lose any rows that aren't associated with any SEC filings.
</details>

In [ ]:
# Merge DataFrames

## Fill `NaN`s
---

After the merge, we now have a bunch of `NaN`s for rows that didn't have any SEC filings on that date. Let's fill those in with 0.

In [ ]:
# Fill Nans with 0

## Train/Test Split
---

Since we're dealing with time series data, we don't want the model to be able to see the future.

<details><summary>What do we need to do in train_test_split?</summary>

- set `shuffle=False` so that the order is maintained
</details>

In [ ]:
# Create X and y

In [ ]:
# Train/Test Split

## Scaling
---

You want to scale your data for any model that uses gradient descent, which includes neural networks.

In [ ]:
# Scale

## `TimeseriesGenerator`
---

We'll now convert our data into series' using `TimeseriesGenerator`. The `length` parameter dictates how many rows will constitute a sample. The generator also creates our batches.

```python
train_sequences = TimeseriesGenerator(X_train_sc, y_train, length=3, batch_size=64)
```

In the cells below, convert your training and validation data into sequences.

In [ ]:
# Create training sequences

In [ ]:
# Create test sequences

## Modeling time!
---

Now it's time to design our RNN model. We'll have:

- 2 `GRU` layers
- 1 `Dense` output layer

We're doing a binary classification problem.

<details><summary>What should our output layer look like?</summary>

- 1 neuron
- sigmoid activation function
- this way, our model predicts a probability
</details>

In [ ]:
# Design RNN

## Your turn!
---

Can you improve this model? Try to build a model that minimizes the testing loss even more!